* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  background-color: #1B2838;
  background-image: url('./TempAssets/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 940px;
  margin: 0 auto;
}

#Announcements {
  display: inline-flex;
  max-width: 30rem;
  width: 18rem;
  height: 16rem;
  font-size: 2em;
  color: ghostwhite;
  border: none;
  box-shadow: -1px 1px 0.3em black;
}

#main-container {
  position: relative;
  overflow: auto;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

div#thumbnail {
  position: relative;
  display: flex;
  height: 70%;
}

#mini-title {
  background: #303841;
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  padding: 3%;
  font-size: 1rem;
  text-shadow: 0px 0px 5rem;
}

#overlay {
  background: #14171fd4;
  font-size: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 50;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
  cursor: pointer;
  animation: overlayFade 0.5s ease 0s 1 normal none;
  font-size: .8rem;
}

.summary-date {
  font-size: 0.8em;
  color: darkgray;
}
.category {
  text-transform: uppercase;
}


@keyframes overlayFade {
  0.0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

#articles {
  background: #0d0f17f7;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

div#article-item-area {
  width: 65vw;
  margin: 0 auto;
}

div#article-item {
  /* background: #26292e; */
  height: 50vw;
  display: grid;
  grid-template-areas:
      "thumbnail"
      "thumbnail"
      "thumbnail"
      "title"
      "body"
      "body"
      "body"
      "interactions"
      "interactions";
  font-size: 0.5em;
  color: #ffffff;
  padding-top: 3rem;
  max-height: 40rem;
  max-width: 50rem;
  margin: 0 auto;
}

.article-item-thumbnail-container {
  display: grid;
  grid-area: thumbnail;
  grid-row: 1 / span 3;
  align-items: center;
}

.article-item-title {
  align-items: center;
  background: #37393f;
  display: grid;
  grid-area: title;
  grid-row: 4 / span 1;
  text-align: left;
  padding-left: 3.5em;
  box-shadow: 0px 0px 5px #1d1e21;
  z-index: 10;
  overflow: hidden;
  position: relative;
  align-content: center;
}

.article-item-body {
  background: #37393f;
  display: grid;
  grid-area: body;
  grid-row: 5 / span 3;
  align-items: baseline;
  text-align: left;
  padding: 2em;
  font-size: 1.75em;
  box-shadow: 0px 0px 5px #1d1e21;
  z-index: 9;
  position: relative;
  overflow: hidden;
}

.article-item-interactions {
  background: #3d4148;
  display: flex;
  flex-flow: row;
  grid-area: interactions;
  justify-content: flex-start;
  grid-row: 8 / span 2;
  align-items: center;
  height: 75%;
  z-index: 11;
  box-shadow: 0px 0px 5px #1d1e21;
}

circle {
  cx: 25;
  cy: 25;
}

#scroll-buttons {
  display: none;
  position: fixed;
  top: 16em;
  width: 88%;
  margin-right: auto;
  z-index: 150;
}

div#interactions-inner {
  display: inline-flex;
  flex-flow: row;
  box-sizing: content-box;
  height: 60%;
  width: 100%;
  align-items: center;
}

div#interactions-share {
  display: inline-flex;
  flex-flow: row;
  background: #2b2d33;
  height: 85%;
  width: 15%;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12em;
  margin-right: 2em;
  cursor: pointer;
  border: 1px solid #2b598ab5;
  position: relative;
}

div#interaction-ratings {
  align-items: center;
  background: #2b2d33;
  display: inline-flex;
  height: 85%;
  justify-content: space-evenly;
  width: 40%;
  font-size: 2em;
  font-weight: 700;
  color: #4d9bec;
  margin-left: 1em;
  border: 1px solid #2b598ab5;
}

div#interactions-comments {
  align-items: center;
  background: #2b2d33;
  display: inline-flex;
  height: 85%;
  justify-content: center;
  width: 20%;
  font-size: 2em;
  font-weight: 700;
  margin-left: 2em;
  border: 1px solid #2b598ab5;
}

img#blue-thumb {
  display: inline-flex;
  height: 1.5em;
}

div#count {
  margin-left: 5%;
}

#discussion-thumbs-up {
  height: 1.2em;
}

#discussion-thumbs-down {
  height: 1.2em;
  transform: rotate(180deg);
  cursor: pointer;
}
#discussion-thumbs-down:hover {
  height: 1.2em;
  transform: rotate(180deg);
  cursor: pointer;
  filter: invert(30%) sepia(100%) saturate(5049%) hue-rotate(330deg) brightness(90%) contrast(100%);
}

#rate-up,
#discuss-text,
#share-text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  height: 50%;
  text-shadow: 2px 2px 5px #0c0707;
  padding-right: .5rem;
}

#share-text {
  font-size: 2em;
}

div#rate-count {
  display: flex;
  align-items: center;
}

div#rate-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  height: 50%;
  text-shadow: 2px 2px 5px #0c0707;
}

div#user-rating {
  display: inline-flex;
  width: 60%;
  justify-content: space-evenly;
}

img.blue-bubble {
  display: inline-flex;
  height: 1.5em;
  padding-left: .5rem;
}

#comment-count {
  font-size: 1em;
  color: #4d9bec;
  padding-right: 1rem;
}

#share-icon{
  display: inline-flex;
  height: 3em;
}

span.announcement-title {
  font-size: 3em;
}

img.article-item-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

img.blur-background {
  filter: blur(5em);
  object-fit: cover;
  position: absolute;
  z-index: -10;
  width: 100%;
}

img.blur-background-title {
  filter: blur(5em);
  object-fit: cover;
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 5rem;
  transform: scaleX(-1);
}

.title-info {
  font-size: 1.5em;
  color: #b3b3b3;
}

#title-info-category {
  text-transform: uppercase;
  font-size: 1em;
  color: #51a7ff;
}

span#posted {
  color: #e2e2e2;
}

.category {
  color: #51a7ff;
}

img#mini-view-thumbnail {
  position: absolute;
  object-fit: cover;
  object-position: center;
  right: 0%;
  height: -webkit-fill-available;
}

.announcements {
  margin-left: 0.5rem;
}

div#share-link {
  position: absolute;
  top: -3rem;
  width: 15rem;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "link button";
  align-content: center;
  background: #2b2d32;
  height: 2rem;
  border: 1px solid #274d73;
  font-size: 1.5em;
}

div#link {
  display: flex;
  align-items: center;
  grid-area: link;
  justify-content: center;
}

button#copy {
  grid-area: button;
  background: #4d9bec;
  margin-right: 10%;
  font-weight: 700;
  height: 1.75em;
  border-radius: 0.75em;
  width: 5em;
  border: none;
  color: white;
}
